:root {
    color-scheme: light dark;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: light-dark(black,white);
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
h2 {
    margin-top: 20px;
}
  
.container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2%;
}

.chart-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.titles {
    position: absolute;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

.titles h1 {
    margin: 0%;
    font-size: clamp(2em, 5vw, 3em);
}

.titles p {
    width: 20%;
    font-size: 1.2vw;
    padding-left: 5px;
}

.chart {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.center-text {
    position: absolute;
    z-index: -1;
    width: 20%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-text h2 {
    font-size: clamp(1em, 2vw, 2em);
}

.center-text p {
    font-size: clamp(0.5em, 1.5vw, 1em);
}

#undo {
    color: light-dark(grey, rgb(184, 183, 183));
    visibility: hidden;
    padding: 0%;
}

.info-container {
    position: absolute;
    top: 10%;
    right: 0%;
    width: 38%;
    height: 60vw;
    visibility: hidden;
    align-content: start;
    text-align: left;
    margin-right: 3vw;
    transition: all 0.3s ease;
    z-index: 2;
}

.ex-prompt-container {
    max-height: 40vw;
    overflow-y: auto;
    background-color: light-dark(white, #333);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.example-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.example-item {
    background-color: light-dark(#f9f9f9, #555);
    border: 1px solid light-dark(#ddd, #666);
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 900px) {
    .container {
      grid-template-rows: 2fr 1fr;
      grid-template-columns: none;
      align-items: center;
    }
  }
  