body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
h2 {
    color: black;
    margin-top: 20px;
}
  
.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.chart-container {
    width: 100%;
    height: 100%;
}

.example-prompt-container {
    position: absolute;
    top: 10%;
    right: 3%;
    width: 40%;
    height: 100%;
    visibility: hidden;
}

#prompt {
    max-height: 80%;
    overflow: scroll;
    text-align: left;
}  

@media screen and (max-width: 900px) {
    .container {
      grid-template-rows: 2fr 1fr;
      grid-template-columns: none;
      align-items: center;
    }
  }
  